doctype html
html(lang="ru")
  head
    title Лёша Тактаров — разработчик и дизайнер

    meta(name="description" content="Код-хистер. Проектирую, рисую и программирую интерфейсы. Веду свои проекты и помогаю бизнесам запускать веб-продукты.")
    meta(name="viewport" content="width=device-width, initial-scale=1" )

    link(rel="icon" type="image/png" href="/favicon-48.png" sizes="48x48")
    link(rel="icon" type="image/png" href="/favicon-48.png" sizes="48x48")

    link(href="https://fonts.googleapis.com/css?family=Rubik:400,500,700&amp;subset=cyrillic"
      rel="stylesheet")

    link(rel="stylesheet" href="/app.css")
    script(type="text/javascript" src="/app.js")
    script.
      require('initialize.js')
  body.site
    .preview

    .site__main-layout
      main.site__content
        .contacts
          .contacts__logo

          .contacts__column
            .contacts__line
              a.contacts__link(href="/CV Alexey Taktarov.pdf") CV in English

            .contacts__line
              a.contacts__link(href="https://telegram.me/molefrog") Telegram

          .contacts__column
            .contacts__line
              a.contacts__link(href="mailto:molefrog@gmail.com") Email

            .contacts__line
              a.contacts__link(href="https://github.com/molefrog") GitHub

          .contacts__column
            .contacts__line
              a.contacts__link(href="http://codepen.io/molefrog/") Codepen

            .contacts__line
              a.contacts__link(href="https://speakerdeck.com/molefrog") Speaker Deck

          .contacts__column
            .contacts__line
              a.contacts__link(href="https://vk.com/molefrog") ВКонтакте

            .contacts__line
              a.contacts__link(href="https://twitter.com/mlfrg") Twitter


        section.about
          .about__name Лёша Тактаров

          h1.about__header
            | Full-Stack разработчик и дизайнер.

          .about__description
            .about__text.about__text--two-columns
              .about__column
                p
                  | Живу программированием, а удовольствие получаю от его применения на стыке областей.
                  |  Принцип «сложные вещи должны быть простыми и интересными» находит отражение в моих проектах.

                p
                  | Пишу код на Руби и JavaScript, а мой ежедневный набор:
                  |  <b>Rails, React, Redux, Redux Saga</b> и <b>D3</b>. Начинал как разработчик на Си и
                  |  Ассемблере, получив бесценный опыт.

              .about__column
                p
                  | Проектирую, рисую и программирую интерфейсы.
                  |  Веду свои проекты и помогаю бизнесам запускать веб-продукты:
                  |  от дизайна и написания текстов до управления разработкой и DevOps.
                p
                  span.reference.reference--inline(data-image="/showcase/talking.gif") Свободно разговариваю
                  |  и веду переговоры на английском. Люблю
                  = ' '
                  span.reference.reference--inline(data-image="/showcase/wife-and-cats.jpg" data-preview-mode="cats") жену, кошек
                  |  и документальные фильмы.

          section.mini-map__section
            .mini-map__header Последние активности
            .mini-map
              a.mini-map__item.reference(
                data-video="/showcase/resume-io-sections.mp4"
                style="background-image: url('/images/resume-thumb.gif')"
                href="https://resume.io")

              .mini-map__item.reference(data-video="/showcase/dirty-animations.mp4"
                style="background-image: url('/images/dirty-anim-thumb.gif')")

              a.mini-map__item.reference(
                data-video="/showcase/redux-actuator.mp4"
                style="background-image: url('/images/actuator-thumb.gif')"
                href="https://github.com/molefrog/redux-actuator")

              .mini-map__item.reference(
                data-video="/showcase/laxlabs.mp4"
                style="background-image: url('/images/laxlabs-thumb.jpg')")

              a.mini-map__item.reference(
                data-image="/showcase/rails-webpack.jpg"
                style="background-image: url('/images/rails-webpack-thumb.jpg')"
                href="https://speakerdeck.com/molefrog/give-a-second-change-to-rails-frontend")

              a.mini-map__item.reference(
                data-image="/showcase/date-parse.jpg"
                style="background-image: url('/images/date-parse-thumb.jpg')"
                href="https://medium.com/@mlfrg/rules-of-parsing-dates-with-date-parse-c5a73525a72e")

              a.mini-map__item.reference(
                data-video="/showcase/smartomato.mp4"
                style="background-image: url('/images/smartomato-thumb.jpg')"
                href="http://smartomato.ru")

              a.mini-map__item.reference(
                data-video="/showcase/pidnn-talk.mp4"
                style="background-image: url('/images/pidnn-thumb.jpg')"
                href="http://molefrog.com/piddn-talk")

              a.mini-map__item.reference(
                data-video="/showcase/graphemescope.mp4"
                style="background-image: url('/images/scope-thumb.gif')"
                href="http://codepen.io/molefrog/pen/juBad")

              a.mini-map__item.reference(
                data-video="/showcase/rye.mp4"
                style="background-image: url('/images/rye-thumb.gif')"
                href="http://molefrog.com/rye")


        article.project
          h2.project__header
            | These Guys

          .about__description.about__description--project
            .about__text.about__text--two-columns
              .about__column
                p
                  | Занимаюсь разработкой проектов в небольшой команде
                  = ' '
                  a.reference.reference--inline(data-video="/showcase/these-guys.mp4" href="http://theseguys.io") These Guys
                  |  в паре со своим хорошим другом Тихоном.
              .about__column
                p Специализируемся на сложных веб-проектах или небольших MVP-решениях.


        article.project
          h2.project__header
            | Сообщество Code Hipsters

          .about__description.about__description--project
            .about__text.about__text--two-columns
              .about__column
                p
                  | Мы с друзьями в 2014 году основали ИТ-тусовку
                  = ' '
                  a.reference.reference--inline(data-video="/showcase/ch-website.mp4" href="http://codehipsters.com") Code Hipsters
                  |  чтобы
                  |  разбавить атмосферу традиционных митапов в Ростове-на-Дону. Быстро нашли
                  |  подходящий формат —
                  = ' '
                  a.reference.reference--inline(data-image="/showcase/ch-vk.jpg" href="https://vk.com/codehipsters")  паблик в социальных сетях
                  |  о трендах фронтенд-разработки.
                  |  Контент — интриги сообщества в привычном нам формате: с иронией и восхищением.

                p
                  | Провели несколько уютных мероприятий и регулярно выезжаем на конференции —
                  |  для обмена опытом с другими сообществами.
              .about__column
                p
                  | В постах мы делаем отсылки к комиксам, культовым фильмам и классическим произведениям искусства.
                  | И не случайно: мы считаем, что сообщество должно отражать стиль и быть противопоставлено
                  = ' '
                  span.reference.reference--inline(data-image="/showcase/it-guy.gif") стереотипному образу
                  |  ИТ-специалиста.
                p
                  | Победили в хакатоне с проектом
                  = ' '
                  a.reference.reference--inline(data-image="/showcase/ficus-site.jpg" href="http://ficus.io") Фикус
                  | , в котором я занимался разработкой
                  = ' '
                  span.reference.reference--inline(data-video="/showcase/ficus-stars.mp4") интерактивов
                  = ' — '
                  span.reference.reference--inline(data-video="/showcase/ficus-poll.mp4") опросов
                  |  и визуализаций в реальном времени на слайдах.

  if isProduction
    // Yandex.Metrika Counter
    div
      | <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter23429869 = new Ya.Metrika({ id:23429869, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/23429869" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
